<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if name %}
    <h1>Hello World Mr. {{name}}</h1>
    {% else %}
    <h1>Hello World</h1>
    {% endif %}
    <!-- <ul>
        {% for product in products %}
        <li>{{product.title}} - {{product.collection.title}}</li>
        {% endfor %}
    </ul> -->
    <br>

    <ul>
        {% for r in result %}
        <li>
            {{r.id}} - {{r.customer.first_name}}
            <ul>
                {% for book in r.orderitem_set.all %}
                <li>{{ book.product.title }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

</body>

</html>